@tailwind base;
@tailwind components;
@tailwind utilities;

.review-bg {
  background: url(./assets/reviewBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100%;
}
